name: Android CI - Ponto Certo

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v4

    - name: Configurar Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Permissão para o Gradle
      run: chmod +x ./gradlew

    - name: Build APK Debug
      run: ./gradlew assembleDebug

    - name: Upload do APK
      uses: actions/upload-artifact@v4
      with:
        name: ponto-certo-debug-apk
        path: app/build/outputs/apk/debug/*.apk
